{% extends "base.html" %}
{% load static %}

{% block title %}
    This Post Title
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post-detail.css" %}"/>
{% endblock %}

{% block content %}
    <section id="summary">
        <h2>Post Title</h2>
        <article>
            <img src="{% static "blog/images/mountains.jpg" %}" alt="Post Title" />
            <address>By Janotelo</address>
            <div>
                Last updated on <time>July 10th</time>
            </div>
        </article>
    </section>

    <main>
        <p>
            Rising majestically towards the sky, mountains stand as ancient 
            sentinels of the Earth's grandeur. Their rugged peaks, cloaked in 
            mist and adorned with glistening snow, reach heights that touch 
            the very heavens. These monumental formations are a testament to 
            the slow and patient work of geological forces, shaping landscapes 
            over millions of years. Each mountain range tells a unique story, 
            bearing witness to the passage of time and the resilience of 
            nature. As the sun paints their slopes with hues of gold at dawn 
            and casts long shadows in the embrace of twilight, mountains 
            evoke a sense of awe and contemplation, inviting adventurers and 
            dreamers alike to ascend their slopes and discover the world from 
            a perspective reserved only for those who dare to climb.
        </p>
        <p>
            Rising majestically towards the sky, mountains stand as ancient 
            sentinels of the Earth's grandeur. Their rugged peaks, cloaked in 
            mist and adorned with glistening snow, reach heights that touch 
            the very heavens. These monumental formations are a testament to 
            the slow and patient work of geological forces, shaping landscapes 
            over millions of years. Each mountain range tells a unique story, 
            bearing witness to the passage of time and the resilience of 
            nature. As the sun paints their slopes with hues of gold at dawn 
            and casts long shadows in the embrace of twilight, mountains 
            evoke a sense of awe and contemplation, inviting adventurers and 
            dreamers alike to ascend their slopes and discover the world from 
            a perspective reserved only for those who dare to climb.
        </p>
        <p>
            Rising majestically towards the sky, mountains stand as ancient 
            sentinels of the Earth's grandeur. Their rugged peaks, cloaked in 
            mist and adorned with glistening snow, reach heights that touch 
            the very heavens. These monumental formations are a testament to 
            the slow and patient work of geological forces, shaping landscapes 
            over millions of years. Each mountain range tells a unique story, 
            bearing witness to the passage of time and the resilience of 
            nature. As the sun paints their slopes with hues of gold at dawn 
            and casts long shadows in the embrace of twilight, mountains 
            evoke a sense of awe and contemplation, inviting adventurers and 
            dreamers alike to ascend their slopes and discover the world from 
            a perspective reserved only for those who dare to climb.
        </p>
    </main>

{% endblock %}